.venv/
__pycache__/
.pytest_cache/
*.py[cod]
.ipynb_checkpoints/
.DS_Store

# External datasets and generated outputs
data/raw/*
data/processed/*
outputs/figures/*

# Keep folder structure
!data/raw/.gitkeep
!data/processed/.gitkeep
!outputs/figures/.gitkeep
